
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılacaklar</h4>
<br />
<p><del>Başlıklarda Arama Kutucuğu</del></p>
<p><del>Yazar Görselleri Düzenlenecek</del></p>
<p><del>Grafikler</del></p>
<p><del>Vitrin Teması</del></p>
<p><del>Gelen Kutusunda Arama</del></p>
<p>Yetkilendirmeler</p>
<p><del>Hata Sayfası Layouttan Ayrılacak</del></p>
<p><del>Sözlük ve Vitrin Ayrılacak</del></p>
<p><del>Herhangi Bir Tablo Raporlanacak</del></p>
<p>Proje Dosyaları Sunucuya Taşınacak</p>
<p>Alan Adı Alınacak</p>
<p>Proje Canlıya Taşınacak</p>
<p>Url'de ID yerine isim gelsin</p>
<p><del>IFrame Ekleme</del></p>
<p>SweetAlert</p>
<p>Admin Çıkış Yap</p>
